/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Encabezado principal */
h1 {
    color: #333;
}

/* Enlaces de la lista de películas */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    display: inline;
}

/* Estilos para la tabla de disponibilidad de asientos */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #555;
}

/* Estilos para asientos disponibles */
td.available {
    background-color: #8BC34A; /* Verde */
    cursor: pointer;
}

/* Estilos para asientos ocupados */
td.occupied {
    background-color: #FF5722; /* Rojo */
}

/* Estilos para asientos seleccionados */
td.selected {
    background-color: #2196F3; /* Azul */
    cursor: pointer;
    color: #fff;
}


.available {
    background-color: #8BC34A; /* Verde */
}

.occupied {
    background-color: #FF5722; /* Rojo */
}
