body {
    font-family: Arial, sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    display: inline;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
}

th, td {
    padding: 10px;
    text-align: center;
}

.available {
    background-color: #8BC34A; /* Verde */
}

.occupied {
    background-color: #FF5722; /* Rojo */
}
