.container{
    /*padding: 10px;
    margin: 10px;*/

    border-width: 2px;
    border-style: solid;
    border-color: black;
}

img{
    width: 10em;
}

/*
#carteles{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}


#cartel{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: fit-content;
    display: inline-block;
}

#numeroPuertas{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#numeroPuerta{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: fit-content;
    display: inline-block;
}


#ventanas{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#ventana{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: fit-content;
    display: inline-block;
}


#semaforos{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}


#semaforo{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: fit-content;
    display: inline-block;
}

#coches{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#coche{
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: fit-content;
    display: inline-block;
}
*/


#carteles,
#numeroPuertas,
#ventanas,
#semaforos,
#coches {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}



#cartel,
#numeroPuerta,
#ventana,
#semaforo,
#coche {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: fit-content;
    display: inline-block;
}
