#cartel{
    background-color: aqua;
}
#numeroPuerta{
    background-color: chartreuse;
}
#ventana{
    background-color: blanchedalmond;
}
#semaforo{
    background-color: blueviolet;
}
#coche{
    background-color: aquamarine;
}