header{
    /* border: 1px solid black; */
    text-align: center;
}

.container{
    /* border: 1px solid black; */
    margin: auto;
}

.puzzle{
    /* border: 1px solid blue; */
    margin: auto;
}

table{
    border: 1px solid black;
    padding: 5px;
    margin: auto;
    /*Tamaño para el emojie*/
    width: 500px;
    height: 500px;
    
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    text-align: center;
    
}
.pieza{
    background-size: cover;
    background-repeat: no-repeat;
}

#pieza-1 {
    background-image: url(/DEW/proyecto4/imagenes/pieza-separada1/pieza1.png);
}
#pieza-2 {
    background-image: url(/DEW/proyecto4/imagenes/pieza-separada1/pieza2.png);
}
#pieza-3 {
    background-image: url(/DEW/proyecto4/imagenes/pieza-separada1/pieza3.png);
}
#pieza-4 {
    background-image: url(/DEW/proyecto4/imagenes/pieza-separada1/pieza4.png);
}
#pieza-5 {
    background-image: url(/DEW/proyecto4/imagenes/pieza-separada1/pieza5.png);
}
#pieza-6 {
    background-image: url(/DEW/proyecto4/imagenes/pieza-separada1/pieza6.png);
}
#pieza-7 {
    background-image: url(/DEW/proyecto4/imagenes/pieza-separada1/pieza7.png);
}
#pieza-8 {
    background-image: url(/DEW/proyecto4/imagenes/pieza-separada1/pieza8.png);
}


.boton {
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    justify-content: center;
}

.inicio{
    /*Estilo del boton*/
    background:linear-gradient(blue, pink);
    width: 300px;
    height: 60px;
    cursor: pointer;

    /*Estilo de texto*/
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 40px; 
    color: #fff; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

#movimientos {
    border: 1px solid black;
    margin-left: 50px;
    text-align: center;
    font-size: 50px;
}

.temporizador {
    border: 1px solid black;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    width: 400px;
    display: flex;
    justify-content: center;
}

#leaderboard{
    border: 1px solid black;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.jugador{
    border: 1px solid black;
    margin: auto;
    padding: auto;
    font-size: 25px;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#nombreJugador{
    border: 2px solid blue;
}
p{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}