
.container{
    /* border: 1px solid black;*/
    margin-bottom: 20px;
    display: inline-block;
}



table{
    border: 1px solid black;
    border-collapse: collapse;
    
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px; /*Ancho de la tabla*/
    height: 100px; /*Altura de la tabla*/
}


#film{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 90px;
    display: inline-block;
}
