
.container{
    /*border: 1px solid black;*/
    /*display: inline-block;*/
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 800px){
    .container{
        margin: 10px;
        flex-direction: column;
    }
}

button{
    margin: 0.625em;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: fit-content;
}

.buttonMovie1{
    background-image: url(imagenes/slam_dunk.jpg);
}


table{
    /*border: 1px solid black;*/
    border-collapse: collapse;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 50px; /*Ancho de la tabla*/
    height: 70px; /*Altura de la tabla*/
    text-align: center;
}


#film1, #film2, #film3{
    border: 1px solid black;
    padding: 90px;
    display: inline-block;
}

#choose{
    border: 1px solid black;
    margin-bottom: 20px;
    width: 500px;
    display: inline-block;
    text-align: center;
}

.red {
    background-color: red;
    color: white;
  }

/* img{
    background-size:contain;
    width:50px;
    
} */
